.pixel-selected {
    border: 2px solid #333;
  }
  
  .color-picker {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .color-picker input {
    margin-right: 10px;
    cursor: pointer;
  }
  